
nav {
    background-color: black;
    color: white; 
 }
 
 .menu {
     display: flex;
     align-items: center;
 }
 
 .logo {
     flex-grow: 3;
 }
 
 .menu li {
     width: 10%;
     list-style: none;
 }
 
 .menu a {
     color: white;
     font-family: Arial, Helvetica, sans-serif;
     text-decoration: none;
 }
 
 .menu a:hover {
     background-color: white;
     border: 5px white solid;
     border-radius: 3px;
     color: black;
 }
 
 .logo img {
     width: 10%;
     padding: 1% 2% 1% 5%;
 }
 
 footer {
     background-color: black;
     width: 100%;
     height: 80px;
     color: white;
     position: absolute;
     bottom: 0;
     left: 0;
 }
 
 footer p {
     
 }